body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 36px;
    margin: 0;
    justify-content: center;
    background-color: #f2f2f2;
}

.IP {
    display: flex;
    flex-direction: row;
    size: 2vw;
    font-weight: bold;
}