body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #f2f2f2;
    color: #0D274D;
}

.Exhibit-Fields {
    display: flex;
    flex-direction: row;
    font-size: 2.5vw;
    line-height: 5%;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .Exhibit-Fields {
        display: flex;
        flex-direction: row;
        font-size: 5.5vw;
        line-height: 5%;
        font-weight: bold;
    }
}